* {
    margin: 0px;
    padding: 0px;
    font-family: aquaticoregular;
    background-color: 9389C8;
}

body {
    background-color: #9389C8;
}
#sidebar {
    position:fixed;
    width: 200px;
    height: 100%;
    background: #37598B;
    left: -200px;
    transition: all 200ms linear;
}

#sidebar.active {
left:0px;
}

#sidebar ul li {
    color: black;
    list-style: none;
    padding: 15px 10px;
    border-bottom: 3px solid #24477;
}

#sidebar .toggle-btn {
    position: absolute;
    left:210px;
    top:10px;
}
#sidebar .toggle-btn span {
    display:block;
    width: 30px;
    height: 5px;
    margin: 3px 0px;
    background-color: #4A3D92;
}

.toggle-btn:hover {
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
}

#sidebar button{
    color: black;
    background-color: #4A9C8C;
    border: 2px solid #2D8775;
    width: 175px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-family: aquaticoregular;
    font-size: 18px;
}
#sidebar button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #2D8775;
    border: 2px solid #197462;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-family: aquaticoregular;
}
#sidebar button:active{
    background-color: #197462;
    border: 2px solid #085C4B;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-family: aquaticoregular;
